/* Cards */

.btn.sm {
    padding: 0.4rem 1.2rem ;
    font-size: 0.9rem;
  }
  
  .btn.sm:hover {
    background: var(--color-gray-100);
  }
  
  section {
    margin-top: 10rem;
  }
  
  .section__head {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .section__head span {
    background: var(--color-gray-500);
    padding: 0.8rem;
    border-radius: 1rem;
    color: var(--color-secondary);
    font-size: 1.5rem;
  }
  
  .courseCards{
    background: var(--color-gray-500);
    border: 2px solid transparent;
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 0 3rem 0 3rem ;
    transition: var(--transition);
  
  }
  
  .courseCards:hover{
    background-color: transparent;
    border-color: var(--color-gray-400);
    cursor: default;
  }
  
  .courseCards span{
    width: 3rem;
    height: 3rem;
    background: var(--color-primary);
    color: var(--color-gray-100);
    font-size: 1.5rem;
    padding: 0.8rem;
    /* events */
    display: grid;
    place-items: center;
    margin-bottom: 1.5rem;
    margin-inline: auto;
    border-radius: 1rem;
    transition: var(--transition);
  }
  
  .courseCards:hover span {
    background: var(--color-secondary);
    color: var(--color-gray-600);
  
  }

  .courseCards small{
    margin-top: 1rem;
    display: block;
    font-weight: 300;
  }

  /* Courses */

  .coursework {
    margin-top: 4rem;

  }

  .coursework_wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    margin-top: 4rem;
  }
  

.courses__course a {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.courses__course:hover a{
    background: var(--color-secondary);
}