/* mentor spotlight stylings */
.mentor{
    /* background-image: url(images/bground.jpg); */
    /* background-image: url(./Assets/Images/bground.jpg); */
    height: 100vh;
    width:100%;
    position: relative;
    
  }
  .mentor h1{
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.404);
  }
  
  .sliding-row{
    display: flex;
    width: 3200px;
    transition: 0.5s;   
  }
  .sliding-col{
    width: 800px;
    height: 400px;
    position:relative;
  }
  .user-img{
    position: absolute;
    top: o;
    right: 0;
    height: 100%;
  }
  .user-img img{
    height: 100%;
    border-radius:10px;
  
  }
  .user-text{
    background: #004aad;
    width: 520px;
    /* height:270px; */
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color:#d3d4d6;
    padding:45px;
    box-sizing:border-box;
    
  }
  .user-text p{
    font-size: 18px;
    line-height: 24px;
  }
  .user-text h3{
    margin: 35px 0 5px;
    color: #fff;
  }
  .container{
    width: 80vw;
    height: 400px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  .indicator{
    position:absolute ;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
  }
  .btn{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.404);
    cursor: pointer;
    transition:0.5s ;
  }
  .active{
    width:45px ;
  }
  .testimonial{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  
  
  .flip{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    place-items: center;
    /* background-image: url(images/img7.jpg); */
    /* background-image: url(./Assets/Images/img7.jpg); */
    height:500px;
   
  
  }
  .wrapper{
    height: 400px;
    width: 300px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    top: 30px;
    padding-left: 350px;
    bottom: 28px;
    
  
  }
  .wrapper .card{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5px;
    /* background: url(./Assets/Images/bground.jpg); */
    border-radius: 10px;
    transform: translateY(0deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
  }
  .wrapper:hover > .front-face{
    transform: rotateY(-180deg);
  }
  .wrapper .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .wrapper .back-face{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
  }
  .wrapper:hover > .back-face{
    transform: rotateY(0deg);
  }
  .wrapper .back-face img{
    height: 150px;
    width: 150px;
    padding: 5px;
    border-radius: 50%;
    background: #004aad;
  }
  .wrapper .back-face .info{
    text-align: center;
  }
  .back-face .info .title{
    font-size: 30px;
    font-weight: 500;
  }
  .back-face ul{
    display: flex;
  }
  .back-face ul a{
    display: block;
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    margin: 0 5px;
    line-height: 38px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: #004aad;
    transition: all 0.7s ease;
  }
  .back-face ul a:hover{
    color: #1cc7d0;
    border-color: #1cc7d0;
    background: linear-gradient(375deg, transparent, transparent);
    transition: .5s;
  }
  /* End of mentor spotlight stylings */