@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-primary: #000dff;
  --color-primary-dark: #00044a;
  --color-secondary: #27cb8b;
  --color-black: #000;
  --color-black-dark: #222;
  --color-black-light: #333;
  --color-white: #fff;
  --color-white-light: #ccc;
  /* color-scheme */
  --color-primary-light: #0060fa;
  --color-primary-lighter: #008fff;
  --color-lightest: #6ebaff;
  --color-secondary-1: #c85100;
  --color-secondary-2: #ff8400;

  --pri-font: "Poppins", verdana, sans-serif;
}

body {
  font-family: var(--pri-font);
  font-size: 1.5rem;
  color: var(--color-black-dark);
}

/* stylings for the authentication page */
.authentication-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.auth-page-container{
  display: flex;
  align-items: center;
  width: 80vw;
  height: max-content;
  margin: inset auto;
  /* border: 2px solid red; */
}

.auth-page-container__image{
  width: 48%;
  margin-right: auto;
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-page-container__image--img{
  --size: 25rem;
  height: var(--size);
}

.forms__container--header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.auth-toggle__button{
  padding: 1.5rem 2rem;
  border: none;
  outline: none;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: bold;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  margin-right: .1rem;
  cursor: pointer;
}

.auth--title{
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-right: 5px;
  /* color: var(--color-secondary); */
}

.forms__container{
  width: 50%;
  background-color: #fff;
}

.form-input-wrapper{
  display: flex;
  align-items: center;
  padding: 1rem;
}

.form-input-icon{
  padding: 1rem;
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  background-color: var(--color-primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  border-radius: 5px;
}

.form-input-icon svg{
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-secondary);
  stroke: var(--color-secondary);
}

.auth-form-text-input{
  align-self: stretch;
  min-width: 55%;
  padding: 0 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  border: 2px solid var(--color-primary-dark);
  border-radius: 3px;
}

.auth-form-text-input::placeholder{
  font-weight: normal;
  color: var(--color-secondary);
  font-style: italic;
}

.auth-submit-btn, .auth-submit-btn:visited{
  text-decoration: none;
  padding: 1.5rem 2rem;
  background-color: var(--color-primary-dark);
  display: block;
  margin: 1.5rem auto;
  width: 95%;
  text-align: center;
  font-weight: bold;
  color: var(--color-white);
  text-transform: capitalize;
  letter-spacing: 2px;
  border-radius: 100px;
}
/* end of authentication page stylings */
